# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore compiled Python extensions
*.so

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
env/
.venv/

# -------------------------------
# Jupyter Notebooks
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Data & Models
# -------------------------------
data/
models/
*.h5
*.pkl
*.pt
*.ckpt

# -------------------------------
# macOS
# -------------------------------
.DS_Store

# -------------------------------
# VS Code
# -------------------------------
.vscode/
